extend layout
block body
 header
 h1 Pony Power
 .container-fluid
  .col-md-6
   block content
    table(class='table table-bordered')
     tr
      th <b>Library</b>
      th <b>Capacity (GB)</b>
      th <b>Space Left (GB)</b>
      th <b>Space Occupied (GB)</b>
     tr
      td 5L LIB Manila Dedup Disk 01
      td 4657.397
      td 176.762
      td 4433.622
     tr
      td AU LIB Sydney Dedup Disk 01
      td 3725.920
      td 280.142
      td 3406.084
     tr
      td MT LIB Malta Disk 01
      td 12287.555
      td 2846.416
      td 9414.920
 .col-md-6 
   block content2
    table(class='table table-bordered')
     tr
      th <b>Name</b>
      th <b>Capacity MB</b>
      th <b>Provisioned MB</b>
      th <b>Free %</b>
     tr
      td FUSION
      td 305152
      td 1310
      td 99
     tr
      td vm_fast01
      td 614144
      td 109849
      td 84
     tr
      td vm_fast02
      td 614144
      td 322150
      td 47
     tr
      td vm_fast03
      td 614144
      td 36422
      td 94
     tr
      td vm_fast04
      td 614144
      td 49743
      td 91
     tr
      td vm_fast05
      td 614144
      td 91732
      td 86
     tr
      td vm_fast06
      td 614144
      td 12862
      td 97
     tr
      td vm_slow01
      td 1023744
      td 139911
      td 86
     tr
      td VM_STORE_12
      td 1048320
      td 799605
      td 24
     tr
      td VM_STORE_13
      td 1048320
      td 740135
      td 29
     tr
      td VM_STORE_14
      td 1048320
      td 797060
      td 25
     tr
      td VM_STORE_16
      td 1048320
      td 775034
      td 26
     tr
      td VM_STORE_17
      td 1048320
      td 877309
      td 26
     tr
      td VM_SWAP_15
      td 511744
      td 368503
      td 27
     tr
      td vm_swap02
      td 329472
      td 41908
      td 87