extend layout

block content
  p
    | Alex
    | We can display anything on this
    | 
    
  p
    | We can add anything you can think of
    | Buttons to execute scripts etc
block sidebar
  .widget
    h1 Widget
    p
      | We can even make widget boxes
      | 
    
    p
      | Such cool!